<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password">V33ralp,1997</property>    
        <property name="connection.url">jdbc:mysql://localhost:3306/sys</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        
        
        <mapping class="com.library.model.domain.Book"></mapping>
        <mapping class="com.library.model.domain.CD"></mapping>
        <mapping class="com.library.model.domain.Movie"></mapping>
        
         <mapping resource = "book.hbm.xml"/>      
         <mapping resource = "cd.hbm.xml"/>
         <mapping resource = "movie.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
